<div class="container">
    <h2 class="text-center mt-4">Sách đã mua</h2>

    <!-- Thể loại yêu thích -->
    <div class="mt-3">
        <h4>Thể loại yêu thích:</h4>
        <ul>
            @foreach (var genre in ViewBag.FavoriteGenres)
            {
                <li>@genre.CategoryName (@genre.TotalQuantity sách)</li>
            }
        </ul>

    </div>

    <!-- Customer Table -->
    <div class="table-container table-responsive">
        <table class="table table-bordered table-hover table-striped text-center">
            <thead>
                <tr>
                    <th>Mã Sách</th>
                    <th>Ảnh</th>
                    <th>Tên Sách</th>
                    <th>Thể Loại</th>
                    <th>Số Lượng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td>@book.BookCode</td>
                        <td>
                            <img src="~/images/@book.Image" alt="@book.BookName" class="img-fluid rounded" style="width: 50px; height: auto; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                        </td>
                        <td>@book.BookName</td>
                        <td>@book.CategoryName</td>
                        <td>@book.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Nút quay lại -->
    <div class="mt-4">
        <a href="@Url.Action("Index", "Customers")">
            <i class="fas fa-arrow-left"></i> Quay lại
        </a>
    </div>
</div>
