<vc:categories></vc:categories>

<i class="fas fa-search search-icon" id="searchIcon" aria-label="Tìm kiếm"></i>


<div class="search-container mb-4" id="searchContainer">
    <form asp-controller="Books" asp-action="Search" method="get" class="d-flex">
        <input type="search" class="form-control" placeholder="Tìm sách..." name="search">
    </form>
</div>

<div class="auth-buttons">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
     
        <div class="user-menu" id="userMenu">
           
            <button class="btn" id="sidebarToggle" aria-label="Toggle sidebar">
                <i class="fas fa-bars"></i>
            </button>
            <a href="@Url.Action("Index", "Wishlist")" class="btn border" title="Yêu thích">
                <i class="fas fa-heart text-primary"></i>
            </a>
            <a href="@Url.Action("Index", "Cart")" class="btn border" title="Giỏ hàng">
                <i class="fas fa-shopping-cart text-primary"></i>
            </a>
        </div>
       
    }
    else
    {

        <a class="btn btn-primary me-2" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        <a class="btn btn-primary me-2" asp-controller="Account" asp-action="Register">Đăng Ký</a>
    }
</div>



<div class="sidebar" id="sidebar">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="@Url.Action("UpdateAccount", "Account")">Thông tin cá nhân</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("Index", "MyOrder")">Đơn hàng của tôi</a>
        </li>
        
        <li class="list-group-item">
            <a href="@Url.Action("Logout", "Account")">Đăng xuất</a>
        </li>

    </ul>
</div>
<script>
    $(document).ready(function () {
        const sidebarToggle = document.getElementById('sidebarToggle');
        const sidebar = document.getElementById('sidebar');
        const sidebarClose = document.getElementById('sidebarClose');

        sidebarToggle.addEventListener('click', function () {
            sidebar.classList.toggle('active');
        });

        sidebarClose.addEventListener('click', function () {
            sidebar.classList.remove('active');
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>
    $(document).ready(function () {
        // Bắt sự kiện nhấn vào biểu tượng tìm kiếm
        const searchIcon = document.getElementById('searchIcon');
        const searchContainer = document.getElementById('searchContainer');

        searchIcon.addEventListener('click', function () {
            searchContainer.classList.toggle('active'); // Hiển thị/ẩn ô tìm kiếm
        });
    });

</script>
