@model BookSellingManagement.Models.AppUserModel

<title>Chi Tiết Nhân Viên</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
    <h2 class="text-center mt-4">Thông Tin Chi Tiết Nhân Viên</h2>
    <form asp-action="Detail" asp-route-id="@Model.Id" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Tên Tài Khoản:</label>
                <input class="form-control" disabled value="@Model.UserName" />
            </div>
            <div class="form-group col-md-6">
                <label>Họ Và Tên:</label>
                <input class="form-control" disabled value="@Model.FullName" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Email:</label>
                <input class="form-control" disabled value="@Model.Email" />
            </div>
            <div class="form-group col-md-6">
                <label>Số Điện Thoại:</label>
                <input class="form-control" disabled value="@Model.PhoneNumber" />
            </div>
        </div>
        <div class="form-row">
          
            <div class="form-group col-md-6">
                <label>Địa Chỉ:</label>
                <input class="form-control" disabled value="@Model.Address" />
            </div>
        </div>
        <div class="mt-4">
            <a href="@Url.Action("Index", "Employees")">
                <i class="fas fa-arrow-left"></i> Quay lại
            </a>
        </div>
    </form>
</div>
