@model dynamic // Adjust the model type based on your actual model structure
<style>
    .order-detail-container {
        margin-left: 170px !important;
    }



  
</style>




<div class="order-detail-container">
    <div class="detail-header">
        <h3 class="detail-title text-center">Chi tiết Đơn hàng</h3>
    </div>
    <div id="errorMessage" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-4">
            <div class="d-flex justify-content-between flex-wrap">
                <p class="bold-text">Đơn hàng: @Model.OrderCode</p>
            </div>
            <div class="d-flex justify-content-between flex-wrap">
                <p class="bold-text">Ngày tạo: @Model.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="bold-text flex-shrink-0 pr-1">Địa chỉ: @Model.Address</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="d-flex justify-content-between flex-wrap">
                <p class="bold-text">Người nhận: @Model.FullName</p>
            </div>
            <div class="d-flex justify-content-between flex-wrap">
                <p class="bold-text">Điện thoại: @Model.PhoneNumber</p>
            </div>
           
        </div>
        <div class="col-sm-4">
            <div class="d-flex justify-content-between flex-wrap">
                <p class="bold-text">PT thanh toán: @Model.PaymentMethod</p>
            </div>
            <div class="d-flex justify-content-between flex-wrap">
                <p class="bold-text">Tổng tiền: @Model.TotalAmount.ToString("N0", new System.Globalization.CultureInfo("vi-VN"))</p>
            </div>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-bordered table-striped mt-3" style="width: 90%;">

        <thead>
            <tr>
  
                <th class="text-center">Tên sản phẩm</th>
                <th class="text-center">Hình ảnh</th>
                <th class="text-center">Số lượng</th>
                <th class="text-center">Đơn giá</th>
                <th class="text-center">Tổng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.OrderItems)
            {
                var total = item.Quantity * item.Price;
                <tr>
                  
                    <td>@item.Book.BookName</td>
                    <td class="text-center">
                        <img src="~/images/@item.Book.Image" alt="@item.Book.BookName" width="50" height="50" />
                    </td>
                    <td class="text-center">@item.Quantity</td>
                    <td class="text-center">@item.Price.ToString("N0", new System.Globalization.CultureInfo("vi-VN"))</td>
                    <td class="text-center">@total.ToString("N0", new System.Globalization.CultureInfo("vi-VN"))</td> 
                </tr>
            }
        </tbody>
    </table>
    </div>
    <div class="mt-4">
        <a href="@Url.Action("Index", "Orders")">
            <i class="fas fa-arrow-left"></i> Quay lại
        </a>
    </div>

</div>
